* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "header" "nav" "section" "footer";
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='visual' viewBox='0 0 900 600' width='900' height='600' version='1.1'%3E%3Crect x='0' y='0' width='900' height='600' fill='%23e8e8e8'/%3E%3Cdefs%3E%3ClinearGradient id='grad1_0' x1='33.3%25' y1='100%25' x2='100%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%23bdd8ca' stop-opacity='1'/%3E%3Cstop offset='80%25' stop-color='%23bdd8ca' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_1' x1='33.3%25' y1='100%25' x2='100%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%23bdd8ca' stop-opacity='1'/%3E%3Cstop offset='80%25' stop-color='%23d3e0d9' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_2' x1='33.3%25' y1='100%25' x2='100%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%23e8e8e8' stop-opacity='1'/%3E%3Cstop offset='80%25' stop-color='%23d3e0d9' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_0' x1='0%25' y1='100%25' x2='66.7%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%23bdd8ca' stop-opacity='1'/%3E%3Cstop offset='80%25' stop-color='%23bdd8ca' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_1' x1='0%25' y1='100%25' x2='66.7%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%23d3e0d9' stop-opacity='1'/%3E%3Cstop offset='80%25' stop-color='%23bdd8ca' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_2' x1='0%25' y1='100%25' x2='66.7%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%23d3e0d9' stop-opacity='1'/%3E%3Cstop offset='80%25' stop-color='%23e8e8e8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate(900  600)'%3E%3Cpath d='M-405.6 0C-402.1 -83.2 -398.6 -166.5 -351.3 -202.8C-304 -239.2 -212.8 -228.6 -147 -254.6C-81.2 -280.6 -40.6 -343.1 0 -405.6L0 0Z' fill='%23dde4e0'/%3E%3Cpath d='M-270.4 0C-268.1 -55.5 -265.7 -111 -234.2 -135.2C-202.6 -159.4 -141.9 -152.4 -98 -169.7C-54.1 -187.1 -27.1 -228.7 0 -270.4L0 0Z' fill='%23c8dcd1'/%3E%3Cpath d='M-135.2 0C-134 -27.7 -132.9 -55.5 -117.1 -67.6C-101.3 -79.7 -70.9 -76.2 -49 -84.9C-27.1 -93.5 -13.5 -114.4 0 -135.2L0 0Z' fill='%23bdd8ca'/%3E%3C/g%3E%3Cg transform='translate(0  0)'%3E%3Cpath d='M405.6 0C357 48.6 308.3 97.2 280.6 162C252.9 226.8 246.1 308 202.8 351.3C159.5 394.6 79.8 400.1 0 405.6L0 0Z' fill='%23dde4e0'/%3E%3Cpath d='M270.4 0C238 32.4 205.5 64.8 187.1 108C168.6 151.2 164.1 205.3 135.2 234.2C106.4 263.1 53.2 266.7 0 270.4L0 0Z' fill='%23c8dcd1'/%3E%3Cpath d='M135.2 0C119 16.2 102.8 32.4 93.5 54C84.3 75.6 82 102.7 67.6 117.1C53.2 131.5 26.6 133.4 0 135.2L0 0Z' fill='%23bdd8ca'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: 320px) {
  body {
    /* HEADER */
    /* FOOTER */
    /* GO TO TOP BUTTON */
  }
  body header {
    display: grid;
    display: flex;
    height: 7vh;
    backdrop-filter: blur(0) brightness(0);
    align-items: center;
    text-align: right;
    grid-template-columns: 10% 1fr;
    grid-template-rows: "logo nav";
  }
  body header #logo {
    width: 100px;
    align-self: left;
    position: absolute;
  }
  body header #logo a {
    display: block;
    width: 50px;
    padding: 0 100px 0 40%;
  }
  body header #logo a #logo__img {
    margin: 50%;
    height: 3vh;
  }
  body header nav {
    flex: 1;
  }
  body header nav ul {
    padding: 0;
  }
  body header nav ul .nav__bar--li {
    margin: 0 1rem;
    display: inline-block;
  }
  body header nav ul .nav__bar--li a {
    text-decoration: none;
    color: #eef2e6;
    font-weight: 500;
  }
  body footer {
    grid-area: footer;
    color: #eef2e6;
    backdrop-filter: blur(0) brightness(0);
    width: 100%;
  }
  body footer a {
    text-decoration: none;
    color: #eef2e6;
  }
  body footer h4 {
    margin-bottom: 1rem;
  }
  body footer .termin {
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
  body footer .socialicon {
    display: inline-block;
  }
  body footer .socialicon i {
    width: 100px;
    padding-bottom: 1rem;
    font-size: 20px;
  }
  body .gotop {
    position: fixed;
    bottom: 70px;
    right: 0;
    transform: translateX(1px);
    z-index: 20;
  }
  body .gotop a {
    color: #eef2e6;
    text-decoration: none;
    background-color: #0f3a31;
    padding: 1rem 0.5rem 1rem 0.8rem;
    border-radius: 20px 0 0 20px;
    border: 1px solid #3d8361;
    box-shadow: 5px 5px 5px #252525;
    z-index: 20;
  }
}
@media (min-width: 1200px) {
  body {
    /* HEADER */
    /* FOOTER */
    /* TOP BUTTON */
  }
  body header {
    backdrop-filter: blur(30px) brightness(30%);
    position: sticky;
    top: 0;
    height: 7vh;
    text-align: center;
    align-items: center;
    z-index: 20;
  }
  body header .nav__bar--li {
    margin: 0;
    opacity: 0.7;
    transition: 300ms;
  }
  body header .nav__bar--li a {
    padding: 20px 150px;
  }
  body header .nav__bar--li:hover {
    opacity: 1;
  }
  body footer {
    backdrop-filter: blur(30px) brightness(30%);
  }
  body footer a {
    opacity: 0.7;
    transition: 300ms;
  }
  body footer a:hover {
    opacity: 1;
  }
  body footer h4 {
    margin-bottom: 1rem;
  }
  body footer .socialicon i {
    font-size: 30px;
  }
  body .gotop {
    transform: translateX(20px);
    transition: 300ms ease;
    animation: go 1s ease 3s 3;
  }
  body .gotop a {
    padding: 1.3rem 0.1rem 1.3rem 3rem;
    transition: 300ms ease;
    animation: goa 1s ease 3s 3;
  }
  body .gotop a:hover {
    padding: 1.3rem 1rem 1.3rem 1rem;
    border-radius: 10px 0 0 10px;
    border: 2px solid #28867e;
    background-color: #42e0d3;
    color: #252525;
  }
  body .gotop:hover {
    transform: translateX(1px);
  }
  body .gotop a:active {
    border: 2px solid #29807a;
    background-color: #22b9af;
    color: #eef2e6;
  }
  @keyframes go {
    0% {
      transform: translateX(20px);
    }
    50% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(20px);
    }
  }
  @keyframes goa {
    0% {
      padding: 1.3rem 0.1rem 1.3rem 3rem;
    }
    50% {
      padding: 1.3rem 1rem 1.3rem 1rem;
      border: 2px solid #0f3a31;
      background-color: #28867e;
      color: white;
    }
    100% {
      padding: 1.3rem 0.1rem 1.3rem 3rem;
    }
  }
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #3d8361;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0f3a31;
}

::-webkit-scrollbar-track {
  background-color: #d6cda4;
  border-radius: 200px;
}

@media (min-width: 320px) {
  .index__body {
    grid-area: section;
    align-self: center;
    min-height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: "one" "two";
    /* SECTION 1 */
  }
  .index__body .items__child {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    justify-content: center;
    align-items: center;
  }
  .index__body .items__child a {
    display: block;
    padding: 15vh;
    text-decoration: none;
    text-shadow: 0 0 5px black;
    color: white;
    font-weight: 700;
  }
  .index__body .item--1 {
    grid-area: one;
    background-image: url(../Media/item1.png);
  }
  .index__body .item--2 {
    grid-area: two;
    background-image: url(../Media/item2.jpg);
  }
  .index__body .item--3 {
    grid-area: one;
    background-image: url(../Media/item4.jpg);
  }
  .index__body .item--4 {
    grid-area: two;
    background-image: url(../Media/item3.jpg);
  }
}
@media (min-width: 1200px) {
  .index__body {
    min-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "one two";
  }
  .index__body .items__child {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    justify-content: center;
    align-items: center;
    transition: 1000ms ease;
  }
  .index__body .items__child a {
    font-size: 1.5rem;
    padding: 35vh;
    transition: 300ms ease;
  }
  .index__body .items__child a:hover {
    transform: scale(110%);
  }
  .index__body .items__child:hover {
    background-size: 250%;
  }
}
@media (min-width: 320px) {
  .container {
    background-color: #f2f4f5;
    margin: 1rem 30px;
    padding: 1rem;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, #0f3a31, #3d8361) 1;
  }
  .container img {
    width: 200px;
  }
  .container button {
    width: 100%;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #252525;
    background: linear-gradient(to right, #42e0d3, #00ffab, #42e0d3);
    border-radius: 20px;
  }
}
@media (min-width: 1200px) {
  .father {
    margin: 3rem 0;
  }
  .father .container {
    margin: 1rem;
    display: inline-block;
    transition: all 300ms ease;
  }
  .father .container img {
    width: 300px;
  }
  .father .container button {
    width: 50%;
    transition: 300ms ease;
  }
  .father .container button:hover {
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
  }
  .father .container:hover {
    transform: scale(102%);
    box-shadow: 0 0 20px #1c6758;
    z-index: -20;
  }
}
@media (min-width: 320px) {
  fieldset {
    margin: 2rem 3rem;
    border: 2px solid #14c38e;
    border-radius: 20px;
    background: linear-gradient(30deg, #1c6758, #0f3a31, #1c6758);
  }
  fieldset .contact__item {
    width: 80%;
    margin: 0.5rem 2rem;
    padding: 1.5rem 1rem;
    border: 2px solid #14c38e;
    border-radius: 10px;
  }
  fieldset .contact__item::placeholder {
    color: #0f3a31;
    font-weight: 700;
  }
  fieldset .contact__name {
    background-color: #bde6dd;
  }
  fieldset .contact__tel {
    background-color: rgb(170, 206, 197);
  }
  fieldset .contact__email {
    background-color: #98b4ae;
  }
  fieldset .contact__message {
    background-color: #809b94;
  }
  fieldset textarea {
    resize: none;
  }
  fieldset .subBtn {
    width: 80%;
    margin: 1rem 0;
  }
  fieldset .contact input:focus,
  fieldset .contact textarea:focus {
    background: #b3ffae;
  }
  fieldset .contact input:focus:focus::placeholder,
  fieldset .contact textarea:focus:focus::placeholder {
    color: #252525;
  }
  fieldset .contact input:focus:invalid,
  fieldset .contact textarea:focus:invalid {
    color: white;
    background: #ff7d7d;
  }
}
@media (min-width: 1200px) {
  fieldset {
    margin: 10vh 35%;
  }
  fieldset .subBtn {
    width: 50% !important;
    transition: 300ms ease;
  }
  fieldset .subBtn:hover {
    width: 80% !important;
  }
  fieldset .contact input::selection,
  fieldset .contact textarea::selection {
    color: #eef2e6;
    background: #1c6758;
  }
}
@media (min-width: 320px) {
  .terms__section {
    display: grid;
    grid-template-rows: 160px 500px 1fr;
    grid-template-areas: "title" "nav_terms" "content";
  }
  .terms__section .nav__terms {
    grid-area: nav_terms;
    background-color: rgb(236, 255, 236);
  }
  .terms__section .nav__terms .terms__sidebar {
    padding-top: 2.1rem;
  }
  .terms__section .nav__terms .terms__sidebar span {
    display: block;
    font-weight: 600;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.2rem;
  }
  .terms__section .nav__terms .terms__sidebar li {
    list-style: decimal;
    text-align: left;
    padding-bottom: 1rem;
    font-weight: 500;
  }
  .terms__section .nav__terms .terms__sidebar li a {
    display: block;
    text-decoration: none;
    color: #252525;
    width: 100%;
  }
  .terms__section .title__main {
    grid-area: title;
    background-color: #0f3a31;
    display: flex;
    font-weight: 500;
    color: #eef2e6;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    align-items: center;
    justify-content: center;
  }
  .terms__section .title__main .terms__title--text {
    align-self: center;
  }
  .terms__section .content {
    grid-area: content;
  }
  .terms__section .content .terms {
    padding: 1rem 3rem;
    margin: 1rem 0;
    text-align: justify;
  }
  .terms__section .content .terms span {
    text-align: center;
    display: block;
    padding-bottom: 1rem;
    font-size: 25px;
    font-weight: 500;
  }
}
@media (min-width: 1200px) {
  .terms__section {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "nav_terms title" "nav_terms content";
  }
  .terms__section .nav__terms {
    background-color: #0f3a31;
    color: white;
  }
  .terms__section .nav__terms .terms__sidebar {
    position: sticky;
    top: 7vh;
    padding-top: 2.1rem;
  }
  .terms__section .nav__terms .terms__sidebar span {
    text-align: left;
  }
  .terms__section .nav__terms .terms__sidebar li {
    opacity: 70%;
    transition: all 300ms;
  }
  .terms__section .nav__terms .terms__sidebar li a {
    color: #eef2e6;
  }
  .terms__section .nav__terms .terms__sidebar li:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(102%);
  }
  .terms__section .terms__title {
    background-color: #252525;
    padding: 33px 0;
  }
  .terms__section .content .terms span {
    text-align: left;
  }
  .terms__section article::selection,
  .terms__section span::selection {
    color: #252525;
    background: #d6cda4;
  }
}
@media (min-width: 320px) {
  .cotiza {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  .cotiza .cotiza__div {
    background: #075e54;
    margin: 0 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .cotiza .cotiza__div a {
    border: 6px solid #075e54;
    display: block;
    padding: 3rem;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  .cotiza .cotiza__div a i {
    font-size: 70px;
  }
}
@media (min-width: 1200px) {
  .cotiza .cotiza__div {
    background: none;
  }
  .cotiza .cotiza__div a {
    color: #075e54;
  }
  .cotiza .cotiza__div a:hover {
    color: white;
    transition-delay: 300ms;
  }
  .cotiza .cotiza__div a::before {
    content: "";
    position: absolute;
    top: -150%;
    left: -150%;
    background-color: #075e54;
    width: 200%;
    height: 200%;
    border-radius: 0 0 100% 0;
    transition: all 1s ease;
    z-index: -2;
  }
  .cotiza .cotiza__div a:hover::before {
    top: 0;
    left: 0;
  }
  .cotiza .cotiza__div a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 100%;
    background-color: #0f3a31;
    width: 250%;
    height: 250%;
    border-radius: 100% 0 120% 0;
    transition: all 2s ease;
    z-index: -1;
  }
  .cotiza .cotiza__div a:hover:after {
    top: -700px;
    left: -900px;
    transition-delay: 300ms;
  }
}

/*# sourceMappingURL=main.css.map */
