@media (min-width: 320px) {
  .container {
    background-color: $card;
    margin: 1rem 30px;
    padding: 1rem;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, $branddark, $branclear) 1;

    img {
      width: 200px;
    }

    button {
      width: 100%;
      border: 0;
      padding: 12px 10px;
      outline: none;
      color: $dark;
      background: linear-gradient(to right, $blue, $noki, $blue);
      border-radius: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .father {
    margin: 3rem 0;

    .container {
      margin: 1rem;
      display: inline-block;
      transition: all 300ms ease;

      & img {
        width: 300px;
      }

      button {
        width: 50%;
        transition: 300ms ease;

        &:hover {
          border-radius: 10px;
          cursor: pointer;
          width: 100%;
        }
      }

      &:hover {
        transform: scale(102%);
        box-shadow: 0 0 20px $brand;
        z-index: -20;
      }
    }
  }
}
