@media (min-width: 320px) {
  .cotiza {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

    .cotiza__div {
      background: $whatsapp;
      margin: 0 1rem;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      a {
        border: 6px solid $whatsapp;
        display: block;
        padding: 3rem;
        color: white;
        text-decoration: none;
        font-size: 20px;

        i {
          font-size: 70px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .cotiza {
    .cotiza__div {
      background: none;

      a {
        color: $whatsapp;

        &:hover {
          color: white;
          transition-delay: 300ms;
        }

        &::before {
          content: "";
          position: absolute;
          top: -150%;
          left: -150%;
          background-color: $whatsapp;
          width: 200%;
          height: 200%;
          border-radius: 0 0 100% 0;
          transition: all 1s ease;
          z-index: -2;
        }

        &:hover::before {
          top: 0;
          left: 0;
        }

        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 100%;
          background-color: $branddark;
          width: 250%;
          height: 250%;
          border-radius: 100% 0 120% 0;
          transition: all 2s ease;
          z-index: -1;
        }

        &:hover:after {
          top: -700px;
          left: -900px;
          transition-delay: 300ms;
        }
      }
    }
  }
}
