/* 

Realizado por: Juan Carlos Murillo Vivas

 */
:root {
  --brand: #1c6758;
  --branclear: #3d8361;
  --branddark: #0f3a31;
  --noki: #00ffab;
  --nokidark: #14c38e;
  --nokiclear: #b8f1b0;
  --blue: #42e0d3;
  --bluedark: #28867e;
  --cofee: #d6cda4;
  --light: #eef2e6;
  --dark: #252525;
  --good: #b3ffae;
  --wrong: #ff7d7d;
}
/* 
///////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////MOBILE///////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
@media (min-width: 320px) {
  /* CONTACt */

  fieldset {
    margin: 2rem 3rem;
    border: 2px solid var(--nokidark);
    border-radius: 20px;
    background: linear-gradient(30deg, var(--brand), var(--branddark), var(--brand));
  }

  .contact__item {
    width: 80%;
    margin: 0.5rem 2rem;
    padding: 1.5rem 1rem;
    border: 2px solid var(--nokidark);
    border-radius: 10px;
  }

  .contact__item textarea {
    resize: none;
  }

  .contact__item::placeholder {
    color: var(--branddark);
    font-weight: 700;
  }

  .contact__name {
    background-color: #bde6dd;
  }

  .contact__tel {
    background-color: rgb(170, 206, 197);
  }

  .contact__email {
    background-color: #98b4ae;
  }

  .contact__message {
    background-color: #809b94;
  }

  .subBtn {
    width: 80%;
    margin: 1rem 0;
  }

  .contact input:focus,
  .contact textarea:focus {
    background: var(--good);
  }

  .contact input:focus::placeholder {
    color: var(--dark);
  }

  .contact input:invalid {
    color: white;
    background: var(--wrong);
  }
}
/* 
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////DESKTOP///////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  */
@media (min-width: 1200px) {
  /* CONTACt */

  fieldset {
    margin: 10vh 35%;
  }

  .subBtn {
    width: 50% !important;
  }

  .subBtn:hover {
    width: 80% !important;
  }

  .contact input::selection,
  .contact textarea::selection {
    color: var(--light);
    background: var(--brand);
  }
}
