/* 

Realizado por: Juan Carlos Murillo Vivas

 */
:root {
  --brand: #1c6758;
  --branclear: #3d8361;
  --branddark: #0f3a31;
  --noki: #00ffab;
  --nokidark: #14c38e;
  --nokiclear: #b8f1b0;
  --blue: #42e0d3;
  --bluedark: #28867e;
  --cofee: #d6cda4;
  --light: #eef2e6;
  --dark: #252525;
  --good: #b3ffae;
  --wrong: #ff7d7d;
  --whatsapp: #075e54;
}
/* 
///////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////MOBILE///////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
@media (min-width: 320px) {
  /* SECTION 3 */

  .cotiza {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  .cotiza__div {
    background: var(--whatsapp);
    margin: 0 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .cotiza__div a {
    border: 6px solid var(--whatsapp);
    display: block;
    padding: 3rem;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  .cotiza__div a i {
    font-size: 70px;
  }
}
/* 
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////DESKTOP///////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  */
@media (min-width: 1200px) {
  /* SECTION 3 */

  .cotiza__div {
    background: none;
  }

  .cotiza__div a {
    color: var(--whatsapp);
  }

  .cotiza__div a:hover {
    color: white;
    transition-delay: 300ms;
  }

  .cotiza__div a:before {
    content: "";
    position: absolute;
    top: -150%;
    left: -150%;
    background-color: var(--whatsapp);
    width: 200%;
    height: 200%;
    border-radius: 0 0 100% 0;
    transition: all 1s ease;
    z-index: -2;
  }

  .cotiza__div a:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 100%;
    background-color: var(--branddark);
    width: 250%;
    height: 250%;
    border-radius: 100% 0 120% 0;
    transition: all 2s ease;
    z-index: -1;
  }

  .cotiza__div a:hover:before {
    top: 0;
    left: 0;
  }

  .cotiza__div a:hover:after {
    top: -700px;
    left: -900px;
    transition-delay: 300ms;
  }
}
