/* 

Realizado por: Juan Carlos Murillo Vivas

 */
/* BODY STYLES */
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header"
    "nav"
    "section"
    "footer";
  text-align: center;
}

/* 
///////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////MOBILE///////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

@media (min-width: 320px) {
  /* HEADER */

  header {
    grid-area: header;
    display: flex;
    height: 7vh;
    background-color: #000000;
    align-items: center;
    text-align: right;
  }

  header #logo__img {
    margin: 50%;
    height: 3vh;
  }

  #logo {
    width: 100px;
    align-self: left;
    position: absolute;
  }

  #logo a {
    display: block;
    width: 50px;
    padding: 0 100px 0 40%;
  }

  nav {
    flex: 1;
  }

  nav .nav__bar--li {
    margin: 0 1rem;
    display: inline-block;
  }

  nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
  }

  nav ul {
    padding: 0;
  }

  /* FOOTER */

  footer {
    grid-area: footer;
    color: white;
    background-color: #000000;
    width: 100%;
  }

  footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  .termin {
    padding-top: 1rem;
    margin-bottom: 1rem;
  }

  footer h4 {
    margin-bottom: 1rem;
  }

  .socialicon {
    display: inline-block;
  }

  .socialicon i {
    width: 100px;
    padding-bottom: 1rem;
    font-size: 20px;
  }

  /* INDEX */

  section {
    grid-area: section;
    align-self: center;
  }

  .index__body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas:
      "one"
      "two";
  }

  .item--1 {
    grid-area: one;
    background-image: url(../Media/item1.png);
  }

  .item--2 {
    grid-area: two;
    background-image: url(../Media/item2.jpg);
  }

  /* .item--3 {
    background-image: url(../Media/item3.jpg);
  } */

  .items__child {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    justify-content: center;
    align-items: center;
  }

  .items__child a {
    display: block;
    padding: 15vh;
    text-decoration: none;
    text-shadow: 0 0 5px black;
    color: white;
    font-weight: 700;
  }

  /* SELECTION 1 */

  .item--3 {
    grid-area: one;
    background-image: url(../Media/item4.jpg);
  }

  .item--4 {
    grid-area: two;
    background-image: url(../Media/item3.jpg);
  }

  /* CARDS */

  .container {
    background-color: #f2f4f5;
    margin: 1rem 30px;
    padding: 1rem;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, #0d4142, #10cfb6, #0d4142) 1;
  }

  .container img {
    width: 200px;
  }

  button {
    width: 100%;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: white;
    background: linear-gradient(to right, #22acb1, #10cfb6, #22acb1);
    border-radius: 20px;
  }

  /* SECTION 3 */

  .wp-container a {
    text-decoration: none;
    color: white;
  }

  .wp-link {
    background-color: #075e54;
    margin: 0 2rem;
    padding: 2rem 0;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 0 20px rgb(109, 109, 109);
  }

  .wp-link i {
    font-size: 4rem;
  }

  /* CONTACt */

  fieldset {
    margin: 2rem 3rem;
    border: 2px solid #009c87;
    border-radius: 20px;
    background: linear-gradient(30deg, #0e4547, #0f302b, #0e4547);
  }

  .contact__item {
    width: 80%;
    margin: 0.5rem 2rem;
    padding: 1.5rem 1rem;
    border: 2px solid #009c87;
    border-radius: 10px;
  }

  .contact__item textarea {
    resize: none;
  }

  .contact__item::placeholder {
    color: #033d22;
    font-weight: 700;
  }

  .contact__name {
    background-color: #c3e9e1;
  }

  .contact__tel {
    background-color: rgb(170, 206, 197);
  }

  .contact__email {
    background-color: #98b4ae;
  }

  .contact__message {
    background-color: #809b94;
  }

  .subBtn {
    width: 80%;
    margin: 1rem 0;
  }

  /* TERMINOS */

  .terms__section {
    display: grid;
    grid-template-rows: 160px 500px 1fr;
    grid-template-areas:
      "title"
      "nav_terms"
      "content";
  }

  .nav__terms {
    grid-area: nav_terms;
    background-color: rgb(236, 255, 236);
  }

  .title__main {
    grid-area: title;
    background-color: rgb(1, 41, 21);
  }

  .content {
    grid-area: content;
  }

  .terms__title {
    display: flex;
    font-weight: 500;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    align-items: center;
    justify-content: center;
  }

  .terms__title--text {
    align-self: center;
  }

  .terms {
    padding: 1rem 3rem;
    margin: 1rem 0;
    text-align: justify;
  }

  .terms span {
    text-align: center;
    display: block;
    padding-bottom: 1rem;
    font-size: 25px;
    font-weight: 500;
  }

  .terms__sidebar span {
    display: block;
    font-weight: 600;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.2rem;
  }

  .terms__sidebar li {
    list-style: decimal;
    text-align: left;
    padding-bottom: 1rem;
    font-weight: 500;
  }

  .terms__sidebar {
    padding-top: 2.1rem;
  }

  .terms__sidebar a {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
  }

  /* GO TO TOP BUTTON */

  .gotop {
    position: fixed;
    bottom: 55px;
    right: 0;
    width: 50px;
  }

  .gotop a {
    background: linear-gradient(30deg, #0e4547, #0f302b, #0e4547);
    color: white;
    text-decoration: none;
    border: 1px solid #012915;
    border-radius: 20px 0 0 20px;
    padding: 1.5rem 0.7rem;
    display: block;
    width: 50px;
    box-shadow: 0 0 10px rgb(131, 131, 131);
  }
}
/* 
///////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////DESKTOP///////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
@media (min-width: 1200px) {
  header {
    position: sticky;
    top: 0;
    height: 7vh;
    text-align: center;
    align-items: center;
    z-index: 20;
  }

  nav .nav__bar--li {
    margin: 0 5rem;
    opacity: 0.7;
    transition: 300ms;
  }

  nav .nav__bar--li:hover {
    opacity: 1;
  }

  nav a {
    padding: 20px 150px;
  }

  /* FOOTER */

  footer a {
    opacity: 0.7;
    transition: 300ms;
  }

  footer a:hover {
    opacity: 1;
  }

  footer h4 {
    margin-bottom: 1rem;
  }

  .socialicon i {
    font-size: 30px;
  }

  /* INDEX */

  .index__body {
    min-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "one two";
  }

  .items__child {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    justify-content: center;
    align-items: center;
    transition: 1000ms ease;
  }

  .items__child a {
    font-size: 1.5rem;
    padding: 35vh;
  }

  .items__child:hover {
    background-size: 250%;
  }

  /* CARDS */

  .father {
    margin: 3rem 0;
  }

  .container {
    margin: 1rem;
    display: inline-block;
    transition: all 300ms ease;
  }

  .container:hover {
    transform: scale(102%);
    box-shadow: 0 0 20px #083d2d;
    z-index: -20;
  }

  .container img {
    width: 300px;
  }

  button {
    width: 50%;
    transition: 300ms ease;
  }

  button:hover {
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
  }

  /* SECTION 3 */

  .wp-container {
    margin: 0 37%;
    transition: 300ms ease;
  }

  .wp-container a {
    transition: 300ms ease;
  }

  .wp-container:hover {
    text-shadow: 0 0 20px #ffffff;
    transform: scale(105%);
  }

  /* CONTACt */

  fieldset {
    margin: 0 35%;
  }

  .subBtn {
    width: 50% !important;
  }

  .subBtn:hover {
    width: 80% !important;
  }

  /* TERMS */

  .terms__section {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
      "nav_terms title"
      "nav_terms content";
  }

  .nav__terms {
    background-color: rgb(0, 46, 23);
    color: white;
  }

  .terms__sidebar {
    position: sticky;
    top: 7vh;
  }

  .terms__title {
    color: black;
    background-color: white;
    padding-top: 33px;
  }

  .terms__sidebar span {
    text-align: left;
  }

  .terms__sidebar li {
    opacity: 70%;
    transition: all 300ms;
  }

  .terms__sidebar li:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(102%);
  }

  .terms__sidebar {
    padding-top: 2.1rem;
  }

  .terms span {
    text-align: left;
  }

  .terms__sidebar a {
    color: white;
  }

  /* TOP BUTTON */

  .gotop a {
    transition: all 300ms;
  }

  .gotop {
    transition: all 300ms;
  }

  .gotop a:hover {
    display: block;
    width: 60px;
  }
  .gotop:hover {
    transform: translateX(-10px);
  }
}
