/* 

Realizado por: Juan Carlos Murillo Vivas

 */
/* BODY STYLES */
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header"
    "nav"
    "section"
    "footer";
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='visual' viewBox='0 0 900 600' width='900' height='600' version='1.1'%3E%3Crect x='0' y='0' width='900' height='600' fill='%23e8e8e8'/%3E%3Cdefs%3E%3ClinearGradient id='grad1_0' x1='33.3%25' y1='100%25' x2='100%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%23bdd8ca' stop-opacity='1'/%3E%3Cstop offset='80%25' stop-color='%23bdd8ca' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_1' x1='33.3%25' y1='100%25' x2='100%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%23bdd8ca' stop-opacity='1'/%3E%3Cstop offset='80%25' stop-color='%23d3e0d9' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_2' x1='33.3%25' y1='100%25' x2='100%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%23e8e8e8' stop-opacity='1'/%3E%3Cstop offset='80%25' stop-color='%23d3e0d9' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_0' x1='0%25' y1='100%25' x2='66.7%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%23bdd8ca' stop-opacity='1'/%3E%3Cstop offset='80%25' stop-color='%23bdd8ca' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_1' x1='0%25' y1='100%25' x2='66.7%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%23d3e0d9' stop-opacity='1'/%3E%3Cstop offset='80%25' stop-color='%23bdd8ca' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_2' x1='0%25' y1='100%25' x2='66.7%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%23d3e0d9' stop-opacity='1'/%3E%3Cstop offset='80%25' stop-color='%23e8e8e8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate(900  600)'%3E%3Cpath d='M-405.6 0C-402.1 -83.2 -398.6 -166.5 -351.3 -202.8C-304 -239.2 -212.8 -228.6 -147 -254.6C-81.2 -280.6 -40.6 -343.1 0 -405.6L0 0Z' fill='%23dde4e0'/%3E%3Cpath d='M-270.4 0C-268.1 -55.5 -265.7 -111 -234.2 -135.2C-202.6 -159.4 -141.9 -152.4 -98 -169.7C-54.1 -187.1 -27.1 -228.7 0 -270.4L0 0Z' fill='%23c8dcd1'/%3E%3Cpath d='M-135.2 0C-134 -27.7 -132.9 -55.5 -117.1 -67.6C-101.3 -79.7 -70.9 -76.2 -49 -84.9C-27.1 -93.5 -13.5 -114.4 0 -135.2L0 0Z' fill='%23bdd8ca'/%3E%3C/g%3E%3Cg transform='translate(0  0)'%3E%3Cpath d='M405.6 0C357 48.6 308.3 97.2 280.6 162C252.9 226.8 246.1 308 202.8 351.3C159.5 394.6 79.8 400.1 0 405.6L0 0Z' fill='%23dde4e0'/%3E%3Cpath d='M270.4 0C238 32.4 205.5 64.8 187.1 108C168.6 151.2 164.1 205.3 135.2 234.2C106.4 263.1 53.2 266.7 0 270.4L0 0Z' fill='%23c8dcd1'/%3E%3Cpath d='M135.2 0C119 16.2 102.8 32.4 93.5 54C84.3 75.6 82 102.7 67.6 117.1C53.2 131.5 26.6 133.4 0 135.2L0 0Z' fill='%23bdd8ca'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 46, 23);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 29, 14);
}

::-webkit-scrollbar-track {
  background-color: rgb(158, 158, 158);
  border-radius: 200px;
}

/* 
///////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////MOBILE///////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

@media (min-width: 320px) {
  /* HEADER */

  header {
    display: grid;
    display: flex;
    height: 7vh;
    backdrop-filter: blur(10px) brightness(30%);
    align-items: center;
    text-align: right;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 
    "logo nav";
  }

  header #logo__img {
    margin: 50%;
    height: 3vh;
  }

  #logo {
    width: 100px;
    align-self: left;
    position: absolute;
  }

  #logo a {
    display: block;
    width: 50px;
    padding: 0 100px 0 40%;
  }

  nav {
    flex: 1;
  }

  nav .nav__bar--li {
    margin: 0 1rem;
    display: inline-block;
  }

  nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
  }

  nav ul {
    padding: 0;
  }

  /* FOOTER */

  footer {
    grid-area: footer;
    color: white;
    backdrop-filter: blur(10px) brightness(30%);
    width: 100%;
  }

  footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  .termin {
    padding-top: 1rem;
    margin-bottom: 1rem;
  }

  footer h4 {
    margin-bottom: 1rem;
  }

  .socialicon {
    display: inline-block;
  }

  .socialicon i {
    width: 100px;
    padding-bottom: 1rem;
    font-size: 20px;
  }

  /* INDEX */

  section {
    grid-area: section;
    align-self: center;
  }

  .index__body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas:
      "one"
      "two";
  }

  .item--1 {
    grid-area: one;
    background-image: url(../Media/item1.png);
  }

  .item--2 {
    grid-area: two;
    background-image: url(../Media/item2.jpg);
  }

  /* .item--3 {
    background-image: url(../Media/item3.jpg);
  } */

  .items__child {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    justify-content: center;
    align-items: center;
  }

  .items__child a {
    display: block;
    padding: 15vh;
    text-decoration: none;
    text-shadow: 0 0 5px black;
    color: white;
    font-weight: 700;
  }

  /* SELECTION 1 */

  .item--3 {
    grid-area: one;
    background-image: url(../Media/item4.jpg);
  }

  .item--4 {
    grid-area: two;
    background-image: url(../Media/item3.jpg);
  }

  /* CARDS */

  .container {
    background-color: #f2f4f5;
    margin: 1rem 30px;
    padding: 1rem;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, #0d4142, #10cfb6, #0d4142) 1;
  }

  .container img {
    width: 200px;
  }

  button {
    width: 100%;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: white;
    background: linear-gradient(to right, #22acb1, #10cfb6, #22acb1);
    border-radius: 20px;
  }

  /* SECTION 3 */

  .cotiza {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cotiza__div {
    background: #009c87 ;
    margin: 0 1rem;
    cursor: pointer;
    color: rgb(106, 223, 194);
    position: relative;
    overflow: hidden;
  }

  .cotiza__div a {
    border: 6px solid rgb(17, 75, 0);
    display: block;
    padding: 3rem;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  .cotiza__div a i {
    font-size: 70px;
  }





  /* CONTACt */

  fieldset {
    margin: 2rem 3rem;
    border: 2px solid #009c87;
    border-radius: 20px;
    background: linear-gradient(30deg, #0e4547, #0f302b, #0e4547);
  }

  .contact__item {
    width: 80%;
    margin: 0.5rem 2rem;
    padding: 1.5rem 1rem;
    border: 2px solid #009c87;
    border-radius: 10px;
  }

  .contact__item textarea {
    resize: none;
  }

  .contact__item::placeholder {
    color: #033d22;
    font-weight: 700;
  }

  .contact__name {
    background-color: #c3e9e1;
  }

  .contact__tel {
    background-color: rgb(170, 206, 197);
  }

  .contact__email {
    background-color: #98b4ae;
  }

  .contact__message {
    background-color: #809b94;
  }

  .subBtn {
    width: 80%;
    margin: 1rem 0;
  }

  /* TERMINOS */

  .terms__section {
    display: grid;
    grid-template-rows: 160px 500px 1fr;
    grid-template-areas:
      "title"
      "nav_terms"
      "content";
  }

  .nav__terms {
    grid-area: nav_terms;
    background-color: rgb(236, 255, 236);
  }

  .title__main {
    grid-area: title;
    background-color: rgb(1, 41, 21);
  }

  .content {
    grid-area: content;
  }

  .terms__title {
    display: flex;
    font-weight: 500;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    align-items: center;
    justify-content: center;
  }

  .terms__title--text {
    align-self: center;
  }

  .terms {
    padding: 1rem 3rem;
    margin: 1rem 0;
    text-align: justify;
  }

  .terms span {
    text-align: center;
    display: block;
    padding-bottom: 1rem;
    font-size: 25px;
    font-weight: 500;
  }

  .terms__sidebar span {
    display: block;
    font-weight: 600;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.2rem;
  }

  .terms__sidebar li {
    list-style: decimal;
    text-align: left;
    padding-bottom: 1rem;
    font-weight: 500;
  }

  .terms__sidebar {
    padding-top: 2.1rem;
  }

  .terms__sidebar a {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
  }

  /* GO TO TOP BUTTON */

  .gotop {
    position: fixed;
    bottom: 70px;
    right: 0;
    transform: translateX(1px);
    z-index: 20;
  }

  .gotop a {
    color: white;
    text-decoration: none;
    background-color: #0d4227;
    padding: 1rem 0.5rem 1rem 0.8rem;
    border-radius: 20px 0 0 20px;
    border: 1px solid rgb(10, 56, 37);
    box-shadow: 5px 5px 5px gray;
    z-index: 20;
  }
}
/* 
///////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////DESKTOP///////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
@media (min-width: 1200px) {
  header {
    position: sticky;
    top: 0;
    height: 7vh;
    text-align: center;
    align-items: center;
    z-index: 20;
  }

  nav .nav__bar--li {
    margin: 0;
    opacity: 0.7;
    transition: 300ms;
  }

  nav .nav__bar--li:hover {
    opacity: 1;
  }

  nav a {
    padding: 20px 150px;
  }

  /* FOOTER */

  footer a {
    opacity: 0.7;
    transition: 300ms;
  }

  footer a:hover {
    opacity: 1;
  }

  footer h4 {
    margin-bottom: 1rem;
  }

  .socialicon i {
    font-size: 30px;
  }

  /* INDEX */

  .index__body {
    min-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "one two";
  }

  .items__child {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    justify-content: center;
    align-items: center;
    transition: 1000ms ease;
  }

  .items__child a {
    font-size: 1.5rem;
    padding: 35vh;
  }

  .items__child:hover {
    background-size: 250%;
  }

  /* CARDS */

  .father {
    margin: 3rem 0;
  }

  .container {
    margin: 1rem;
    display: inline-block;
    transition: all 300ms ease;
  }

  .container:hover {
    transform: scale(102%);
    box-shadow: 0 0 20px #083d2d;
    z-index: -20;
  }

  .container img {
    width: 300px;
  }

  button {
    width: 50%;
    transition: 300ms ease;
  }

  button:hover {
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
  }

  /* SECTION 3 */

  .cotiza__div{
    background: none;
  }

  .cotiza__div a{
    color: green;
  }

  .cotiza__div a:hover {
    color: white;
    transition-delay: 300ms;
  }

  .cotiza__div a:before {
    content: "";
    position: absolute;
    top: -150%;
    left: -150%;
    background-color: #075e54;
    width: 200%;
    height: 200%;
    border-radius: 0 0 100% 0;
    transition: all 1s ease;
    z-index: -2;
  }

  .cotiza__div a:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 100%;
    background-color: #002c26;
    width: 250%;
    height: 250%;
    border-radius: 100% 0 120% 0;
    transition: all 2s ease;
    z-index: -1;
  }

  .cotiza__div a:hover:before {
    top: 0;
    left: 0;
  }

  .cotiza__div a:hover:after {
    top: -700px;
    left: -900px;
    transition-delay: 300ms;
  }

  /* CONTACt */

  fieldset {
    margin: 0 35%;
  }

  .subBtn {
    width: 50% !important;
  }

  .subBtn:hover {
    width: 80% !important;
  }

  /* TERMS */

  .terms__section {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
      "nav_terms title"
      "nav_terms content";
  }

  .nav__terms {
    background-color: rgb(0, 46, 23);
    color: white;
  }

  .terms__sidebar {
    position: sticky;
    top: 7vh;
  }

  .terms__title {
    background-color: rgb(0, 32, 16);
    padding: 33px 0;
  }

  .terms__sidebar span {
    text-align: left;
  }

  .terms__sidebar li {
    opacity: 70%;
    transition: all 300ms;
  }

  .terms__sidebar li:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(102%);
  }

  .terms__sidebar {
    padding-top: 2.1rem;
  }

  .terms span {
    text-align: left;
  }

  .terms__sidebar a {
    color: white;
  }

  /* TOP BUTTON */

  .gotop {
    transform: translateX(20px);
    transition: 300ms ease;
    animation: go 1s ease 3s 3;
  }

  .gotop a {
    padding: 1.3rem 0.1rem 1.3rem 3rem;
    transition: 300ms ease;
    animation: goa 1s ease 3s 3;
  }

  .gotop a:hover {
    padding: 1.3rem 1rem 1.3rem 1rem;
    border-radius: 10px 0 0 10px;
    border: 2px solid #29807a;
    background-color: #48e0d6;
    color: black;
  }

  .gotop:hover {
    transform: translateX(1px);
  }

  .gotop a:active {
    border: 2px solid #29807a;
    background-color: #22b9af;
    color: white;
  }

  @keyframes go {
    0% {
      transform: translateX(20px);
    }
    50% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(20px);
    }
  }

  @keyframes goa {
    0% {
      padding: 1.3rem 0.1rem 1.3rem 3rem;
    }
    50% {
      padding: 1.3rem 1rem 1.3rem 1rem;
      border: 2px solid #0e2c2a;
      background-color: #29807a;
      color: white;
    }
    100% {
      padding: 1.3rem 0.1rem 1.3rem 3rem;
    }
  }
}
